= form_with model: post, local: true do |form|
  .field.pt-3
    = form.label :content, class:'control-label'
    = form.text_area :content, class: 'form-control'
  .actions.pt-3
    = form.submit t('views.buttons.post'), class: 'btn btn-primary'
