%h1
  = t('views.top')
%table
  %tbody
    - @posts.each do |post|
      %tr
        %td.card.card-body.mt-3
          = l(post.created_at, format: :long)
          %br
          = post.content
          